location /rediscommander/ {
	proxy_pass http://127.0.0.1:6380;

	# Warning: do make sure you add some authentication using auth_request or similar
	# because otherwise there will be no authentication to access redis-commander!
}
