location /mongoexpress/ {
	proxy_http_version 1.1;
	proxy_pass http://127.0.0.1:8081;
	sub_filter_once off;
	sub_filter '<title>' '<title>Mongo Express: ';
	sub_filter ' - Mongo Express</title>' '</title>';

	# Warning: do make sure you add some authentication using auth_request or similar
	# because otherwise there will be no authentication to access mongoexpress!
}
